/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif
}

img {
    width: 100px;
}

.top{
    background-image: url("Buffalo.jpg");
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 60px 0 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title{
    background: #153B50;
    border-radius: 5px;
    padding: 10px;
}

#subtitle{
    background: #153B50;
    border-radius: 5px;
    padding: 10px
}

#activities-title{
    background: #ECEBE4;
    margin: 0px;
    padding: 20px 0 20px 0;
    
}

.activities{
    background: #ECEBE4;
    display: flex;
    justify-content: space-between;
}


.circle{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

#falls{
    padding: 15px;
}

#wing{
    padding: 15px;
}

#bills{
    padding: 15px;
}

.card{
    display: flex;
    align-items: center;
    width: 400px;
    margin: 15px auto;
    background-color: #7B0D1E;
    padding: 10px 20px;
    border-bottom: 10px solid #153B50;
    color: white;
    justify-content: space-between;
}

#hana{
    width: 150px;
    margin: 0 10px 0 0;
}
